<!DOCTYPE html>
<html>
    <head>
        <title>Gym App</title>
        <meta charset='UTF-8'/>
        <!--<link rel="stylesheet" href="css-libs.css" />
        <link rel="stylesheet" href="compass.css" />-->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <!--<script src="client.js"></script>-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <%= csrf_meta_tags %>

        <%= render 'templates/signin' %>
        <%= render 'templates/register' %>
        <%= render 'templates/recommendations' %>
        <%= render 'templates/notebook_for_exercices' %>
        <%= render 'templates/home' %>
        <%= render 'templates/profile' %>
        <%= render 'templates/physicaltab/modal' %>
        <%= render 'templates/physicaltab/archivetemplates/notestemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/shouldertemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/physicalstatetemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/physical_health_template' %>
        <%= render 'templates/getting_started' %>
        <%= render 'templates/my_phis_state' %>
        <%= render 'templates/info_resources' %>
        <%= render 'templates/you_should_know' %>
        <%= render 'templates/complex_self_improving' %>
        <%= render 'templates/physicaltab/definition' %>
        <%= render 'templates/physicaltab/activity_row' %>
        <%= render 'templates/physicaltab/motor_activity' %>
        <%= render 'templates/physicaltab/physical_health' %>
        <%= render 'templates/physicaltab/physical_preparedness' %>
        <%= render 'templates/physicaltab/shoulder_index' %>
        <%= render 'templates/physicaltab/physical_state' %>

    </head>

    <body class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#accessed/home">Brand</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                                    class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#accessed/signin">Логин</a></li>
                                <li><a href="#register">Регистрация</a></li>
                                <li class="divider"></li>
                                <li><a href="#infoTab/profile">Профиль</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#accessed/home" role="button" title='Выйти' aria-expanded="false">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="row col-xs-12 center-block">
        </section>
        <div class="spinner hidden"></div>
        <div class="flash-message alert alert-danger animated">
            <strong></strong>
            <span class="text-message">Some stuff</span>
        </div>

        <footer>

        </footer>
    </body>
</html>
