<!DOCTYPE html>
<html>
    <head>
        <title>Health Diary</title>
        <meta charset='UTF-8'/>
        <!--<link rel="stylesheet" href="css-libs.css" />
        <link rel="stylesheet" href="compass.css" />-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <!--<script src="client.js"></script>-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <%= csrf_meta_tags %>

        <%= render 'templates/signin' %>
        <%= render 'templates/register' %>
        <%= render 'templates/recommendations' %>
        <%= render 'templates/notebook_for_exercices' %>
        <%= render 'templates/home' %>
        <%= render 'templates/profile' %>
        <%= render 'templates/physicaltab/modal' %>
        <%= render 'templates/physicaltab/archivetemplates/notestemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/shouldertemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/physicalstatetemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/physicalpreparednesstemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/physical_health_template' %>
        <%= render 'templates/physicaltab/archivetemplates/motoractivitytemplate' %>
        <%= render 'templates/physicaltab/archivetemplates/definition_template' %>
        <%= render 'templates/getting_started' %>
        <%= render 'templates/my_phis_state' %>
        <%= render 'templates/you_should_know' %>
        <%= render 'templates/complex_self_improving' %>
        <%= render 'templates/physicaltab/definition' %>
        <%= render 'templates/physicaltab/activity_row' %>
        <%= render 'templates/physicaltab/motor_activity' %>
        <%= render 'templates/physicaltab/physical_health' %>
        <%= render 'templates/physicaltab/physical_preparedness' %>
        <%= render 'templates/physicaltab/shoulder_index' %>
        <%= render 'templates/physicaltab/physical_state' %>
        <%= render 'templates/physicaltab/product_row' %>

    </head>

    <body class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="loader-container">
                        <div class="olympicloader">
                            <i class="first"></i>
                            <i class="second"></i>
                            <i class="third"></i>
                            <i class="fourth"></i>
                            <i class="fifth"></i>
                        </div>
                    </div>
                </div>
                <ul class="collapse navbar-collapse">
                    <li>
                        <a href='#infoTab/my-phis-state' class="my-phis-state" title="Фізичний стан">Фізичний стан</a>
                    </li>
                    <li>
                        <a href='#infoTab/recommendations' class="recommendations" title="Рекомендації">Рекомендації</a>
                    </li>
                    <li>
                        <a href='#infoTab/you-should-know' class="you-should-know" title="Варто знати">Варто знати</a>
                    </li>
                    <li>
                        <a href='#infoTab/complex-self-improving' class="complex-self-improving" title="Комплекс вправ">Комплекс вправ</a>
                    </li>
                    <li>
                        <a href='#infoTab/notebook-for-exercices' class="notebook-for-exercices" title="Щоденник">Щоденник</a>
                    </li>
                    <li>
                        <select class="lang">
                            <option selected value="ua">UA</option>
                            <option value="ru">RU</option>
                        </select>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <ul id='menu' class="dropdown-menu" role="menu">
                            <li><a href="#accessed/signin">Логін</a></li>
                            <li><a href="#register">Реєстрація</a></li>
                            <li><a href="#infoTab/profile">Профіль</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#accessed/home" role="button" title='Выйти' class='logout' aria-expanded="false">Вихід</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <section class="row col-xs-12 center-block">
        </section>
        <div class="spinner hidden"></div>
        <div class="flash-message alert alert-danger alert-dismissible" role="alert">
            <strong></strong>
            <span class="text-message"></span>
        </div>
<!--        <footer>&copy; Health-Diary application</footer>-->
    </body>
</html>
